footer
    background $img('footer-bg.png') no-repeat right bottom #333132
    &.claro
        background $img('footer-bg-cinza.png') no-repeat right bottom #c4c4c4
        background-size auto 100%
    background-size auto 100%
    padding 25px 0
    position relative
    +mobile()
        background-image none
    .center
        display flex
        flex-wrap wrap
        font-size 0
    .informacoes
        display inline-block
        width 370px
        padding-right 50px
        +mobile()
            width 100%
            padding 0
        > img
            display block
            margin 0 auto 25px
            +mobile()
                margin 0 0 25px
        h4
            fira 13 medium
            margin 0
            color #fff
        p
            fira 13 light
            margin 20px 0 45px
            color #fff
            a:hover
                color $laranja
        .certificacoes
            img
                display block
                max-width 100%
    .links
        border-left 1px solid rgba(#fff, .3)
        border-right 1px solid rgba(#fff, .3)
        padding 35px 80px 0 25px
        +below($tablet)
            display none
        a
            display block
            avenir 12
            color #fff
            text-transform uppercase
            margin 0 0 20px
            line-height 1
            &:hover
                color $laranja
    .social
        padding 28px 0 0 25px
        > a
            display block
            height 28px
            line-height 28px
            avenir 12
            color #fff
            padding-left 32px
            &:hover
                color $laranja
            &.facebook
                background $img('footer-facebook.png') no-repeat center left
            &.twitter
                background $img('footer-twitter.png') no-repeat center left
            &.instagram
                background $img('footer-instagram.png') no-repeat center left
            &.linkedin
                background $img('footer-linkedin.png') no-repeat center left
            &.youtube
                background $img('footer-youtube.png') no-repeat center left
        .catalogo
            width 160px
            border-top 1px solid rgba(#fff, .3)
            margin-top 25px
            padding-top 25px
        +tablet()
            border-left 1px solid rgba(#fff, .3)
        +mobile()
            padding 0
            > a
                display none
    .handle-voltar-topo
        position absolute
        right 50px
        bottom 25px
        avenir 13
        font-style italic
        color #fff
        padding-right 32px
        height 26px
        line-height 29px
        background $img('footer-seta.png') no-repeat center right
        &:hover
            color $laranja
        +below($tablet)
            display none

footer.claro
    .informacoes
        h4
        p
            color #333132
    .links
        border-color rgba(#333132, .5)
        a
            color #333132
            &:hover
                color $laranja
    .social
        a
            color #333132
            &.facebook
                background $img('footer-facebook-cinza.png') no-repeat center left
            &.twitter
                background $img('footer-twitter-cinza.png') no-repeat center left
            &.instagram
                background $img('footer-instagram-cinza.png') no-repeat center left
            &.linkedin
                background $img('footer-linkedin-cinza.png') no-repeat center left
            &.youtube
                background $img('footer-youtube-cinza.png') no-repeat center left
            &:hover
                color $laranja
    .handle-voltar-topo
        color #333132
        &:hover
            color $laranja
