header
    background #fff
    > .center
        height 125px
        width 1100px
        +below($tablet)
            width 90%
        +mobile()
            height 100px
        clearfix()
    .logo
        display block
        height 100%
        width 160px
        background $img('header-marca.png') no-repeat center
        text-indent -9999px
        float left
        +tablet()
            width 162px
        +mobile()
            width 127px
            background-size 100% auto
    .top-bar
        height 85px
        width 795px
        float right
        padding-top 15px
        clearfix()
        +below($tablet)
            display none
        .pesquisar
            width 390px
            float left
            clearfix()
            span
                fira 10 light
                color #666
                display block
                margin-bottom 3px
                text-transform uppercase
            input[type=text]
                width 228px
                height 34px
                border 1px solid #909091
                fira 13
                padding 0 5px
                outline 0
                float left
            input[type=submit]
                width 34px
                height 34px
                border 1px solid #909091
                border-left none
                text-indent -9999px
                background $img('header-lupa.png') no-repeat center #909091
                cursor pointer
                outline 0
                transition background .3s
                &:hover
                    background-color $laranja
        .sociais
            width 354px
            float left
            font-size 0
            span
                fira 10 light
                color #666
                display block
                margin-bottom 3px
                text-transform uppercase
            a
                display inline-block
                height 32px
                width 32px
                text-indent -9999px
                margin-right 5px
                transition background .3s
                &.facebook
                    background $img('header-facebook.png') no-repeat center
                    &:hover
                        background-image $img('header-facebook-hover.png')
                &.twitter
                    background $img('header-twitter.png') no-repeat center
                    &:hover
                        background-image $img('header-twitter-hover.png')
                &.instagram
                    background $img('header-instagram.png') no-repeat center
                    &:hover
                        background-image $img('header-instagram-hover.png')
                &.linkedin
                    background $img('header-linkedin.png') no-repeat center
                    &:hover
                        background-image $img('header-linkedin-hover.png')
                &.youtube
                    background $img('header-youtube.png') no-repeat center
                    &:hover
                        background-image $img('header-youtube-hover.png')
        .idioma
            width 51px
            float left
            font-size 0
            span
                fira 10 light
                color #666
                display block
                margin-bottom 3px
                text-transform uppercase
            a
                display inline-block
                width 23px
                height 23px
                text-indent -9999px
                margin-right 5px
                &.pt
                    background $img('header-lang-pt.png') no-repeat center
                &.en
                    background $img('header-lang-en.png') no-repeat center
                    margin-right 0
    .catalogo-desktop
        +below($tablet)
            display none
        position absolute
        height 55px
        width 180px
        right 0
        bottom 8px
        .imagem
            float left
            display block
            position relative
            &:after
                content ''
                position absolute
                width 18px
                height 18px
                bottom -1px
                right -4px
                background $img('catalogo-seta.png') no-repeat center #fff
                border-radius 100%
        span
            display block
            float left
            height 100%
            width calc('100% - 41px')
            border-right 1px solid #000
            border-top 1px solid #000
            border-bottom 1px solid #000
            padding 8px
            fira 12
            text-transform uppercase
            transition background .3s, color .3s
        &:hover span
            background #000
            color #fff
    #nav-desktop
        width calc('100% - 220px')
        float right
        font-size 0
        display flex
        justify-content space-between
        +below($tablet)
            display none
        a
            display inline-block
            fira 15 bold
            color #fff
            padding 10px 10px 9px
            background #909091
            text-transform uppercase
            line-height 1
            margin-left 8px
            transition background .3s
            position relative
            &:before
                content ''
                position absolute
                width 0
                height 0
                border-style solid
                border-width 8px 0 0 8px
                border-color transparent transparent transparent #fff
                bottom 0
                left 0
            &:after
                content ''
                position absolute
                width 0
                height 0
                border-style solid
                border-width 0 8px 8px 0
                border-color transparent #fff transparent transparent
                top 0
                right 0
            &:hover
            &.active
                background #333132
            &.nav-produtos
                padding-right 30px
                position relative
                &:after
                    content ''
                    position absolute
                    right 10px
                    top 50%
                    margin-top -3px
                    width 0
                    height 0
                    border-style solid
                    border-width 6px 5px 0 5px
                    border-color #fff transparent transparent transparent
    .dropdown-produtos-desktop
        display none
        background #333132
        font-size 0
        padding 14px 0
        margin-bottom 8px
        +below($tablet)
            display none !important
        a
            display inline-block
            width calc('25% - 11.25px')
            height 40px
            margin-right 15px
            fira 15 light
            text-transform uppercase
            color #fff
            background #8B8B8C
            background-image linear-gradient(90deg, #333132, #8B8B8C)
            text-align center
            line-height 44px
            &:hover
                background $laranja
            &:last-child
                margin-right 0
    #mobile-toggle
        +above($tablet)
            display none
        display block
        background-color transparent
        border 0
        position relative
        float right
        height 100%
        width 28px
        outline 0
        padding 0
        cursor pointer
        .lines
            display block
            width 100%
            height 4px
            background #333132
            position relative
            transition .3s ease
            border-radius 3px
            &:before
            &:after
                content ""
                display block
                position absolute
                left 0
                width 100%
                height 4px
                background #333132
                transition .3s ease
                border-radius 3px
            &:before
                top 7px
            &:after
                top -7px
        &.close
            .lines
                background transparent
                &:before
                &:after
                    transform-origin 50% 50%
                    top 0
                &:before
                    transform rotate3d(0,0,1,45deg)
                &:after
                    transform rotate3d(0,0,1,-45deg)
    #nav-mobile
        +above($tablet)
            display none !important
        display none
        border-top 1px solid #E6E6E6
        box-shadow 0 3px 4px rgba(#000, .15)
        padding 25px 0
        position relative
        z-index 102
        > a
            display block
            fira 15 bold
            text-transform uppercase
            color #333132
            text-align center
            &.active
                color $laranja
            margin 0 0 4px
        .sociais
            width 100%
            margin 30px auto
            font-size 0
            text-align center
            span
                fira 10 light
                color #666
                display block
                margin-bottom 3px
                text-transform uppercase
            a
                display inline-block
                height 32px
                width 32px
                text-indent -9999px
                margin-right 5px
                &.facebook
                    background $img('header-facebook.png') no-repeat center
                &.twitter
                    background $img('header-twitter.png') no-repeat center
                &.instagram
                    background $img('header-instagram.png') no-repeat center
                &.linkedin
                    background $img('header-linkedin.png') no-repeat center
                &.youtube
                    background $img('header-youtube.png') no-repeat center
        .idioma
            width 100px
            margin 0 auto
            font-size 0
            text-align center
            span
                fira 10 light
                color #666
                display block
                margin-bottom 3px
                text-transform uppercase
            a
                display inline-block
                width 23px
                height 23px
                text-indent -9999px
                margin-right 5px
                &.pt
                    background $img('header-lang-pt.png') no-repeat center
                &.en
                    background $img('header-lang-en.png') no-repeat center
        .dropdown-produtos-mobile
            display none
            background rgba(#000, .1)
            padding 5px 0
            margin 0 0 12px
            a
                display block
                text-align center
                fira 13
                margin 5px 0
                color #333132
                text-transform uppercase
        .catalogo-mobile
            margin 20px auto 0
            height 55px
            width 180px
            text-align left
            .imagem
                float left
                display block
                position relative
                &:after
                    content ''
                    position absolute
                    width 18px
                    height 18px
                    bottom -1px
                    right -4px
                    background $img('catalogo-seta.png') no-repeat center #fff
                    border-radius 100%
            span
                display block
                float left
                height 100%
                width calc('100% - 41px')
                border-right 1px solid #000
                border-top 1px solid #000
                border-bottom 1px solid #000
                padding 8px
                fira 12
                text-transform uppercase
                transition background .3s, color .3s
