normalize()

*
*:after
*:before
    box-sizing border-box

::selection
    background black
    color #fff

::-moz-selection
    background black
    color #fff

.cabecalho-img
    img
        width 100%
        display block
    +below($tablet)
        .center
            width 100%

.breadcrumb-simple
    span
        display block
        fira 12
        color #aaa
        font-style italic
        padding 15px 0

.breadcrumb
    background $laranja
    span
        display block
        padding 8px 8px 5px
        fira 13
        color #fff
        +above($tablet)
            padding-left 217px

.texto
    img
        max-width 100%
    a
        color $laranja
        text-decoration underline

.not-found
    width 100%
    background #DDD
    text-align center
    padding 280px 0
    +tablet()
        padding 160px 0
    +mobile()
        padding 100px 0
    h1
        display inline-block
        padding 15px 18px 12px
        border 2px solid #000
        fira 12 medium
        letter-spacing 1px
        color #000
        text-transform uppercase
