desktop-base-width     = 1300px
rupture.desktop-cutoff = $tablet = 1340px
rupture.mobile-cutoff  = $mobile = 768px
rupture.anti-overlap   = -1px

$laranja = #F26522

@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,600,700')

@font-face
    font-family 'Avenir'
    src url('../fonts/AvenirNextLTPro-Regular.woff2') format('woff2'),
        url('../fonts/AvenirNextLTPro-Regular.woff') format('woff')
    font-weight normal
    font-style normal
@font-face
    font-family 'Avenir'
    src url('../fonts/AvenirNextLTPro-Bold.woff2') format('woff2'),
        url('../fonts/AvenirNextLTPro-Bold.woff') format('woff')
    font-weight 700
    font-style normal

fira($size, $weight = normal)
    font-size $size + 0px
    font-family 'Fira Sans', 'Helvetica', 'Arial', sans-serif
    font-weight 400
    if $weight == light
        font-weight 300
    if $weight == medium
        font-weight 500
    if $weight == semi
        font-weight 600
    if $weight == bold
        font-weight 700

avenir($size, $weight = normal)
    font-size $size + 0px
    font-family 'Avenir', 'Helvetica', 'Arial', sans-serif
    font-weight 400
    if $weight == bold
        font-weight 700
