.consultoria
    padding 0 0 30px
    .center
        max-width 970px
    .texto
        margin 30px 0
        h1
            fira 30 bold
            color #333132
            margin 0 0 .35em
            +mobile()
                font-size 22px
        p
            fira 15 light
            line-height 1.5
            margin .8em 0
            &:last-child
                margin-bottom 0
            &:first-child
                margin-top 0
    .imagem-consultoria
        display block
        margin 0 auto
        max-width 100%
        &.mobile
            display none
        +below(1024px)
            display none
            &.mobile
                display block
                max-width 90%
    .imagem
        height 350px
        background-size cover
        background-position center
        +mobile()
            height 200px
        .center
            height 100%
            position relative
        span
            display inline-block
            position absolute
            fira 26 bold
            color #fff
            background #333132
            padding 16px 16px 12px
            bottom 20px
            left 0
            &:after
                content ''
                position absolute
                width 20px
                height 100%
                background #333132
                right -10px
                top 0
                transform skewX(-20deg)
            +mobile()
                font-size 16px
                padding 12px 12px 8px
    .contato-enviado
        fira 20 bold
        color $laranja
        margin 1em 0
    form
        width 100%
        max-width 750px
        clearfix()
        .erros
            border 1px solid #E62E29
            border-radius 4px
            padding 15px 15px 11px
            text-align left
            fira 14
            color #E62E29
            margin-bottom 20px
        .row
            clearfix()
            width 100%
            margin-bottom 12px
            label
                width 215px
                float left
                text-align right
                padding-right 20px
                fira 18
                color #333132
                padding-top 11px
                +mobile()
                    width 100%
                    text-align left
                    padding 0
                    font-size 15px
            input
            textarea
            select
            .anexo-wrapper
                width calc('100% - 215px')
                float left
                +mobile()
                    width 100%
            input[type=text]
            input[type=email]
            textarea
            select
                display block
                border 1px solid #ccc
                outline 0
                border-radius 4px
                margin-top 5px
                resize none
                fira 15
                min-height 32px
                padding 0 5px
            select
                height 32px
            textarea
                padding 10px 5px
            .anexo-wrapper
                border 1px solid #ccc
                border-radius 4px
                padding 20px
                text-align center
                input
                    fira 15
                    outline 0
                    line-height 1.5
                    +mobile()
                        font-size 12px
        .submit-wrapper
            width calc('100% - 215px')
            float right
            text-align center
            +mobile()
                width 100%
            input
                display inline-block
                width 190px
                fira 24 bold
                border 0
                outline 0
                color #fff
                background $laranja
                border-radius 4px
                transition background .3s
                padding 10px 12px 6px
                cursor pointer
                margin-top 20px
                &:hover
                    background #333132
