.contato
    padding 30px 0
    .center
        max-width 1025px
    h1
        display inline-block
        fira 24 bold
        color #fff
        position relative
        background #333132
        padding 10px 12px 6px
        margin 0 0 8px
        &:after
            content ''
            position absolute
            width 20px
            height 100%
            background #333132
            right -10px
            top 0
            transform skewX(-20deg)
        + p
            fira 16 light
            color #333132
            margin 0
    .contato-enviado
        fira 20 bold
        color $laranja
        text-align center
        margin 1em 0
    form
        max-width 705px
        margin 65px auto
        text-align center
        +tablet()
            margin 45px auto
        +mobile()
            margin 25px auto
        .erros
            border 1px solid #E62E29
            border-radius 4px
            padding 15px 15px 11px
            text-align center
            fira 14
            color #E62E29
            margin-bottom 20px
        .row
            width 100%
            display block
            margin-bottom 14px
            text-align left
            clearfix()
            label
                fira 18 medium
                +tablet()
                    fira 16 medium
                +mobile()
                    font-size 15px
                    width 100% !important
                    margin 0 !important
                    &.col-tel:first-child
                    &.col-cep
                    &.col-cidade
                        margin-bottom 14px !important
                span
                    color red
                &.col-tel
                    width calc('50% - 16px')
                    float left
                    &:first-child
                        margin-right 32px
                &.col-cep
                    width calc('21.8% - 21.333px')
                    margin-right 32px
                    float left
                &.col-cidade
                    width calc('39% - 21.333px')
                    margin-right 32px
                    float left
                &.col-estado
                    width calc('39.15% - 21.333px')
                    float left
            input[type=text]
            input[type=email]
            textarea
            select
                display block
                width 100%
                border 1px solid #ccc
                outline 0
                border-radius 4px
                margin-top 5px
                resize none
                fira 15
                min-height 40px
                padding 0 5px
            select
                height 40px
            textarea
                padding 10px 5px
            .anexo-wrapper
                border 1px solid #ccc
                border-radius 4px
                padding 20px
                text-align center
                input
                    fira 15
                    outline 0
                    line-height 1.5
                    +mobile()
                        font-size 12px
        input[type=submit]
            display inline-block
            fira 22 bold
            border 0
            outline 0
            color #fff
            background $laranja
            border-radius 4px
            transition background .3s
            padding 10px 12px 6px
            cursor pointer
            &:hover
                background #333132
    .informacoes
        width 100%
        border-top 1px solid #ccc
        border-bottom 1px solid #ccc
        padding 20px 0
        clearfix()
        .texto
            width 33%
            float left
            +tablet()
                width 38%
            h3
                fira 26 bold
                color #333132
                margin 0 0 .8em
                text-align left
                padding-top .3em
            > a
                fira 18 medium
                color #636466
                &:hover
                    color $laranja
            p
                fira 15 light
                color #636466
                line-height 1.3
                strong
                    fira 15 semi
        .mapa
            width 64%
            height 275px
            float right
            +tablet()
                width 60%
            iframe
                width 100%
                height 100%
                display block
        +mobile()
            .texto
                width 100%
                h3
                    font-size 22px
                p
                    font-size 14px
                > a
                    font-size 17px
            .mapa
                width 100%
                margin-top 10px
