.empresa
    padding 30px 0
    +mobile()
        padding-bottom 0
    .center
        max-width 970px
        position relative
        clearfix()
    .texto-1
        .texto
            width 56%
            float left
            h2
                fira 30 bold
                color #333132
                margin 0 0 .35em
            p
                fira 15 light
                line-height 1.5
                margin .8em 0
                &:last-child
                    margin-bottom 0
            +mobile()
                width 100%
                margin-bottom 20px
        .imagem
            width 38%
            float right
            img
                display block
                width 100%
            +mobile()
                width 100%
                img
                    width auto
                    max-width 100%
    .mapa
        background-image radial-gradient(50% 50%, #fff, #D5D5D5)
        margin 25px 0
        padding 20px 0
        img
            display block
            margin 0 auto
            +below($tablet)
                max-width 100%
        span
            display inline-block
            position absolute
            fira 26 bold
            color #fff
            background #333132
            padding 16px 16px 12px
            bottom 20px
            left 0
            +mobile()
                display none
            &:after
                content ''
                position absolute
                width 20px
                height 100%
                background #333132
                right -10px
                top 0
                transform skewX(-20deg)
            +tablet()
                bottom 0
                font-size 16px
                padding 12px 12px 8px
    .texto-2
        p
            fira 15 light
            line-height 1.5
            margin .8em 0
            &:first-child
                margin-top 0
            &:last-child
                margin-bottom 0
    .escritorios
        margin-top 30px
        .escritorio
            width calc('33.333% - 14.667px')
            float left
            margin-right 22px
            margin-bottom 30px
            +mobile()
                width 100%
                margin-right 0
                margin-bottom 40px
            &:nth-child(3n)
                margin-right 0
            .imagem
                width 100%
                position relative
                border 1px solid #333132
                +mobile()
                    display inline-block
                    width auto
                img
                    width 100%
                    display block
                    +mobile()
                        width auto
                        max-width 100%
                span
                    position absolute
                    top 0
                    left 0
                    display inline-block
                    fira 16 medium
                    color #fff
                    background #333132
                    padding 10px 12px 6px
                    margin 0 0 8px
                    &:after
                        content ''
                        position absolute
                        width 20px
                        height 100%
                        background #333132
                        right -10px
                        top 0
                        transform skewX(-20deg)
            .endereco
                margin-top 18px
                p
                    fira 14
                    margin .8em 0
                    strong
                        fira 17 bold
                    &:first-child
                        margin-top 0
                    &:last-child
                        margin-bottom 0
            &.brasil .imagem:after
                content ''
                position absolute
                top -6px
                left -6px
                width calc('100% + 12px')
                height calc('100% + 12px')
                border-top 6px solid #FFFF44
                border-right 6px solid #FFFF44
                border-left 6px solid #00D63A
                border-bottom 6px solid #00D63A
