.eventos
    padding 30px 0
    .center
        max-width 970px
    h1
        display inline-block
        fira 30 medium
        color #fff
        background #333132
        padding 7px 12px 4px
        line-height 1
        margin 0 0 50px
        +mobile()
            font-size 24px
            margin-bottom 30px
    .navegacao
        width 425px
        margin 0 auto 50px
        font-size 0
        +mobile()
            width 100%
            margin-bottom 40px
        a
            display inline-block
            vertical-align top
            width 40px
            height 40px
            background #333132
            transition background .3s
            text-indent -9999px
            border-radius 3px
            position relative
            &:hover
                background $laranja
            &:first-child:after
                content ''
                position absolute
                top 50%
                left 50%
                margin-top -8px
                margin-left -5px
                width 0
                height 0
                border-style solid
                border-width 7px 7px 7px 0
                border-color transparent #fff transparent transparent
            &:last-child:after
                content ''
                position absolute
                top 50%
                right 50%
                margin-top -8px
                margin-right -5px
                width 0
                height 0
                border-style solid
                border-width 7px 0 7px 7px
                border-color transparent transparent transparent #fff
        span
            display inline-block
            vertical-align top
            width 329px
            height 40px
            margin 0 8px
            background $laranja
            color #fff
            fira 24 light
            border-radius 3px
            line-height 44px
            text-align center
            +mobile()
                font-size 18px
                width calc('100% - 96px')
                line-height 42px
    .nenhum
        border 1px solid #ccc
        padding 20px 20px 16px
        background #eee
        border-radius 3px
        fira 15 light
        text-align center
        color #333132
    .calendario
        +mobile()
            display none
        table
            width 100%
        th
        td
            width 14.28%
        th
            background #B1B3B6
            height 30px
            fira 18 semi
            color #58595B
        td
            height 90px
            position relative
            .marcador
                position absolute
                right 10px
                top 10px
                fira 18 light
                color #58595B
            .evento
                position absolute
                display block
                width 100%
                height 55px
                bottom 0
                left 0
                background $laranja
                color #fff
                fira 15
                line-height 1
                text-align center
                padding 8px
                overflow hidden
        tr:nth-child(even) td
            background #D1D3D4
        tr:nth-child(odd) td
            background #B1B3B6
    .lista
        margin-top 45px
        h3
            fira 26 bold
            color #333132
            margin 0 0 25px
            padding-bottom 12px
            border-bottom 1px solid #ccc
            +mobile()
                font-size 22px
        .evento
            display block
            border-bottom 1px solid #ccc
            margin-bottom 25px
            padding-bottom 25px
            h2
                fira 18 bold
                color #333132
                margin 0 0 10px
                transition color .3s
                +mobile()
                    font-size 16px
            p
                fira 16 light
                margin 0
                +mobile()
                    font-size 15px
