.galeria-index
    padding 30px 0
    .center
        max-width 970px
    h1
        display inline-block
        fira 30 medium
        color #fff
        background #333132
        padding 7px 12px 4px
        line-height 1
        margin 0 0 50px
        +mobile()
            font-size 24px
            margin-bottom 30px
    .thumbs
        font-size 0
        a
            display inline-block
            vertical-align top
            width calc('25% - 15px')
            margin-right 20px
            margin-bottom 20px
            border 3px solid transparent
            transition border .3s
            &:nth-child(4n)
                margin-right 0
            +tablet()
                width calc('33.333% - 13.333px')
                &:nth-child(4n)
                    margin-right 20px
                &:nth-child(3n)
                    margin-right 0
            +mobile()
                width calc('50% - 10px')
                &:nth-child(4n)
                    margin-right 20px
                &:nth-child(2n)
                    margin-right 0
            img
                display block
                width 100%
            span
                display block
                text-align center
                fira 18 medium
                color #333132
                padding 10px
                +below($tablet)
                    font-size 16px
            &:hover
                border 3px solid $laranja
    .pagination
        border-top 1px solid #ccc
        margin-top 20px
        padding 20px 0 0
        text-align right
        list-style none
        li
            display inline-block
            margin-left 12px
            > *
                display block
                background #333132
                color #fff
                transition background .3s
                position relative
                padding 9px 12px 8px
                border-radius 3px
                fira 17 semi
                &:hover
                    background $laranja
            &:first-child *
                padding-left 28px
                &:after
                    content ''
                    position absolute
                    top 50%
                    left 10px
                    margin-top -8px
                    width 0
                    height 0
                    border-style solid
                    border-width 7px 7px 7px 0
                    border-color transparent #fff transparent transparent
            &:last-child *
                padding-right 28px
                &:after
                    content ''
                    position absolute
                    top 50%
                    right 10px
                    margin-top -8px
                    width 0
                    height 0
                    border-style solid
                    border-width 7px 0 7px 7px
                    border-color transparent transparent transparent #fff
            &.disabled
                display none

.galeria-show
    padding 10px 0 45px
    .center
        max-width 970px
        clearfix()
    .galeria-cycle
        position relative
        .imagem
            width 100%
            display block
            background #fff
            img
                width calc('100% - 42px')
                margin 0 auto
                display block
            p
                margin 15px 0 0
                fira 15
                text-align center
                +mobile()
                    font-size 12px
        .cycle-controls
            width 100%
            height 0
            padding-bottom 41.1%
            position absolute
            top 0
            left 0
            z-index 9998
        .cycle-prev
        .cycle-next
            width 42px
            height 42px
            margin-top -21px
            background #333132
            transition background .3s
            position absolute
            top 50%
            border-radius 3px
            cursor pointer
            z-index 999
            &:hover
                background $laranja
        .cycle-prev
            left 0
            &:after
                content ''
                position absolute
                top 50%
                left 16px
                margin-top -8px
                width 0
                height 0
                border-style solid
                border-width 7px 7px 7px 0
                border-color transparent #fff transparent transparent
        .cycle-next
            right 0
            &:after
                content ''
                position absolute
                top 50%
                right 16px
                margin-top -8px
                width 0
                height 0
                border-style solid
                border-width 7px 0 7px 7px
                border-color transparent transparent transparent #fff
    .cycle-pager
        border-top 1px solid #ccc
        border-bottom 1px solid #ccc
        padding 10px
        font-size 0
        margin-top 15px
        text-align center
        background #fff
        z-index 9999
        +mobile()
            display none
        img
            display inline-block
            border 2px solid transparent
            transition border .3s
            margin 3px 3px
        .cycle-pager-active
            img
                border-color $laranja
    .texto
        text-align center
        margin-top 25px
        padding-bottom 20px
        border-bottom 1px solid #ccc
        z-index 9999
        background #fff
        +mobile()
            border-top 1px solid #ccc
            padding-top 20px
        h1
            fira 28 medium
            color #333132
            margin 0 0 .5em
            + p
                margin-top 0
        p
            fira 21 light
            line-height 1.5
            &:last-child
                margin-bottom 0
        +mobile()
            h1
                font-size 20px
            p
                font-size 16px
    .center > a
        float right
        margin-top 20px
        display inline-block
        padding 9px 12px 8px
        background #333132
        fira 16
        color #fff
        position relative
        border-radius 3px
        transition background .3s
        padding-left 28px
        &:hover
            background $laranja
        &:after
            content ''
            position absolute
            top 50%
            left 10px
            margin-top -8px
            width 0
            height 0
            border-style solid
            border-width 7px 7px 7px 0
            border-color transparent #fff transparent transparent
