.home
    .center
        clearfix()
    .banners
    .banners-mobile
        position relative
        width 1100px
        height 412px
        margin 20px auto 25px
        +below($tablet)
            width 90%
        > a
            display block
            height 100%
            width 100%
            background-position center
            background-repeat no-repeat
            .center
                width 1000px
                +below($tablet)
                    width 90%
            .texto
                padding-top 45px
                fira 26
                color #fff
                text-shadow 0 1px 3px rgba(#000, .4)
                +tablet()
                    padding-top 35px
                +mobile()
                    padding-top 30px
                    font-size 20px
        +below($tablet)
            height 0
            padding-bottom 31.38%
            > a
                width 100%
                background-size 100% auto
                overflow hidden
        .pager
            position absolute
            left 50%
            transform translateX(-50%)
            bottom 20px
            z-index 9999
            text-align center
            font-size 0
            +mobile()
                display none
            a
                display inline-block
                margin 0 3px
                width 12px
                height 12px
                border-radius 100%
                border 2px solid #fff
                transition background .3s
                text-indent -9999px
                box-shadow 0 1px 1px rgba(#000, .5)
                &.cycle-pager-active
                    background #fff
    .banners
        +mobile()
            display none
    .banners-mobile
        +above($mobile)
            display none
        +below($mobile)
            padding-bottom 58.1%
    .chamadas-wrapper
        background #333132
        padding 20px 0
        border-bottom 1px solid #fff
        +mobile()
            padding 30px 0
        .chamadas
            width calc('100% - 465px')
            float left
            +below($tablet)
                width 100%
                margin-bottom 25px
            .slick
                a
                    display block
                    height 415px
                    position relative
                    background #fff
                    +mobile()
                        height 350px
                    &:hover .hover-fx
                        opacity 1
                    .hover-fx
                        position absolute
                        top 0
                        left 0
                        width 100%
                        height 100%
                        opacity 0
                        transition opacity .3s
                        box-shadow inset 0px 0px 0px 4px $laranja
                        z-index 9999
                    img
                        display block
                        width 100%
                    .texto
                        position absolute
                        width 100%
                        left 0
                        bottom 0
                        background #fff
                        min-height 135px
                        padding 20px 25px 25px
                        h2
                            avenir 22
                            color #333132
                            margin 0 0 5px
                            line-height 1
                        p
                            line-height 1
                            avenir 22 bold
                            margin 0
                            color #333132
                        +mobile()
                            h2
                                font-size 20px
                            p
                                font-size 20px
        .newsletter
            width 440px
            height 440px
            float right
            background #fff
            padding 50px
            box-shadow 3px 3px 8px rgba(#000, .3)
            +below($tablet)
                width 100%
            h2
                avenir 27
                margin 0
                text-transform uppercase
                color #333132
                padding 7px 0
                background $img('newsletter.png') no-repeat center right
                background-size auto 100%
                strong
                    avenir 27 bold
                    display block
            p
                avenir 23
                color #333132
            input
                display block
                width 100%
                border 1px solid #aaa
                outline 0
                avenir 15
                padding 6px
                margin 0 0 12px
                height 40px
                &[type=submit]
                    background $laranja
                    avenir 16
                    color #fff
                    cursor pointer
                    transition background .3s
                    border 0
                    border-radius 20px
                    &:hover
                        background #333132
            +mobile()
                margin 15px 0
                height auto
                float right
                border 1px solid #aaa
                padding 32px
                h2
                    avenir 18
                    margin 0
                    text-transform uppercase
                    color #333132
                    padding 7px 0
                    background $img('newsletter.png') no-repeat center right
                    background-size auto 100%
                    strong
                        avenir 18 bold
                        display block
                p
                    avenir 15
                    color #333132
                    text-align center
                input
                    display block
                    width 100%
                    border 1px solid #aaa
                    outline 0
                    avenir 10
                    padding 6px
                    margin 0 0 12px
                    &[type=submit]
                        background $laranja
                        avenir 14
                        color #fff
                        cursor pointer
                        transition background .3s
                        border 0
                        border-radius 12px
                        &:hover
                            background #333132

.slick-slide
    margin 0 12px !important
.slick-list
    margin 0 -12px !important
.slick-dots
    li
        width 10px
        height 10px
        button
            width 10px
            height 10px
            padding 0
            background #C1C1C1
            border-radius 100%
            border 3px solid transparent
            transition background .3s, border .3s
            &:before
                display none
        &.slick-active
            button
                border-color $laranja
                background transparent
.slick-next
.slick-prev
    width 60px
    height 60px
    background $laranja !important
    z-index 9999
    &:before
        display none
    &:after
        content ''
        width 100%
        height 100%
        display block
        position absolute
        top 0
        left 0
        background $img('chamadas-seta.png') no-repeat center
    +mobile()
        display none !important
.slick-next
    right -15px
.slick-prev
    left -15px
    &:after
        transform rotate(180deg)
