.news
    padding 10px 0 45px
    .center
        max-width 970px
    .novidades
    .galeria
        clearfix()
        .texto
            height 390px
            width 280px
            float left
            border 1px solid #aaa
            position relative
            padding 15px
            +tablet()
                width 250px
                padding 12px
            +mobile()
                width 100%
                height auto
            h2
                fira 28 bold
                color #333132
                margin 0 0 15px
                text-align center
                padding-bottom 7px
                border-bottom 1px solid #ccc
            p
                fira 15 light
                margin 0
            a
                width calc('100% - 30px')
                display block
                position absolute
                bottom 15px
                left 15px
                padding 10px 0 8px
                background $laranja
                border-radius 3px
                fira 22 bold
                color #fff
                text-align center
                transition background .3s
                text-decoration none
                &:hover
                    background #333132
        .noticias-banners
            width calc('100% - 280px')
            height 390px
            float left
            +tablet()
                width calc('100% - 250px')
            +mobile()
                width 100%
                height 200px
            a
                display block
                width 100%
                height 100%
                background-size cover
                background-position center
                position relative
                span
                    position absolute
                    right 30px
                    bottom 30px
                    display inline-block
                    background #fff
                    box-shadow 2px 2px 6px rgba(#000, .6)
                    padding 8px
                    fira 16 light
                    max-width calc('100% - 60px')
                    +mobile()
                        font-size 14px
                        padding 6px
            .cycle-pager
                width 100%
                height 9px
                position absolute
                left 0
                bottom 10px
                font-size 0
                text-align center
                z-index 9999
                a
                    display inline-block
                    width 9px
                    height 9px
                    border-radius 100%
                    transition all .3s
                    background #fff
                    border 2px solid transparent
                    margin 0 2px
                    &.cycle-pager-active
                        border 2px solid $laranja
                        background transparent
    .galeria
        .texto a
            background #333132
            &:hover
                background $laranja
        .noticias-banners .cycle-pager a.cycle-pager-active
            border 2px solid #fff
    .eventos
        width calc('100% - 320px')
        height 300px
        float left
        background $laranja
        margin 15px 0
        position relative
        background-size cover
        background-position center
        +mobile()
            width 100%
            height 250px
            margin-bottom 0
        h2
            display inline-block
            fira 28 semi
            color #fff
            margin 0
            position absolute
            left 20px
            bottom 120px
            max-width 220px
            +mobile()
                font-size 24px
                bottom 100px
        span
            position absolute
            width 220px
            background #333132
            padding 10px 0 8px
            color #fff
            fira 22 bold
            box-shadow 3px 3px 7px rgba(#000, .3)
            bottom 20px
            left 20px
            border-radius 3px
            text-align center
            transition background .3s, color .3s
        &:hover span
            background #fff
            color #333132
    .newsletter
        margin 15px 0
        width 305px
        height 300px
        float right
        border 1px solid #aaa
        padding 32px
        +mobile()
            width 100%
        h2
            avenir 18
            margin 0
            text-transform uppercase
            color #333132
            padding 7px 0
            background $img('newsletter.png') no-repeat center right
            background-size auto 100%
            strong
                avenir 18 bold
                display block
        p
            avenir 15
            color #333132
            text-align center
        input
            display block
            width 100%
            border 1px solid #aaa
            outline 0
            avenir 10
            padding 6px
            margin 0 0 12px
            &[type=submit]
                background $laranja
                avenir 14
                color #fff
                cursor pointer
                transition background .3s
                border 0
                border-radius 12px
                &:hover
                    background #333132
