.noticias-index
    padding 10px 0 30px
    .center
        max-width 970px
    .noticias-banners
        a
            display block
            position relative
            img
                width 100%
            span
                position absolute
                bottom 20px
                right 20px
                display inline-block
                background #fff
                fira 32 bold
                color #333132
                padding 12px 10px 8px
                +mobile()
                    display none
        .cycle-pager
            width 100%
            height 9px
            font-size 0
            text-align center
            padding-top 12px
            a
                display inline-block
                width 9px
                height 9px
                border-radius 100%
                transition all .3s
                background #8D8D8E
                border 2px solid transparent
                margin 0 2px
                &.cycle-pager-active
                    border 2px solid $laranja
                    background transparent
    .mais-noticias
        margin-top 25px
        h3
            fira 26 bold
            color #333132
            margin 0 0 20px
            padding-bottom 12px
            border-bottom 1px solid #ccc
            +mobile()
                font-size 22px
        a
            display block
            border-bottom 1px solid #ccc
            margin-bottom 25px
            padding-bottom 25px
            &:hover
                h2
                    color $laranja
                .mais
                    background #000
            .data
                fira 15 light
                display block
                margin 0 0 10px
            h2
                fira 27
                color #333132
                margin 0 0 10px
                transition color .3s
                +mobile()
                    font-size 23px
            p
                fira 21 light
                margin 0 0 12px
                +mobile()
                    font-size 18px
            .mais
                display inline-block
                transition background .3s
                background $laranja
                color #fff
                fira 14 semi
                padding 7px 24px 6px 14px
                position relative
                border-radius 3px
                &:after
                    content ''
                    position absolute
                    top 50%
                    right 10px
                    margin-top -5px
                    width 0
                    height 0
                    border-style solid
                    border-width 4px 0 5px 5px
                    border-color transparent transparent transparent #fff
    .pagination
        list-style none
        padding 0
        clearfix()
        li
            display inline-block
            padding 9px 12px 8px
            background #333132
            fira 16
            color #fff
            position relative
            border-radius 3px
            transition background .3s
            +mobile()
                font-size 0
                padding 0 !important
                height 32px
                width 36px
                a
                    display block
                    position absolute
                    width 100%
                    height 100%
                    top 0
                    left 0
                    z-index 2
            &:hover
                background $laranja
            &:first-child
                float left
                padding-left 28px
                &:after
                    content ''
                    position absolute
                    top 50%
                    left 10px
                    margin-top -8px
                    width 0
                    height 0
                    border-style solid
                    border-width 7px 7px 7px 0
                    border-color transparent #fff transparent transparent
                    +mobile()
                        left 13px
            &:last-child
                float right
                padding-right 28px
                &:after
                    content ''
                    position absolute
                    top 50%
                    right 10px
                    margin-top -8px
                    width 0
                    height 0
                    border-style solid
                    border-width 7px 0 7px 7px
                    border-color transparent transparent transparent #fff
                    +mobile()
                        right 13px
            &.disabled
                display none
.noticias-show
    padding 10px 0 60px
    .center
        max-width 970px
        > img
            display block
            max-width 100%
    .data
        fira 12 light
        color #aaa
        display block
        margin 5px 0 20px
    h2
        fira 38 bold
        color #333132
        margin 0 0 15px
        transition color .3s
        +tablet()
            font-size 30px
        +mobile()
            font-size 24px
    p
        fira 15 light
        line-height 1.5
        margin-bottom 0
        img
            max-width 100%
        &.chamada
            fira 15 medium
            margin-bottom 2em
    .noticias-show-nav
        margin-top 40px
        padding-top 20px
        text-align center
        border-top 1px solid #ccc
        a
            display inline-block
            fira 24 medium
            &:hover
                color $laranja
            &.voltar
                fira 22
            &.anterior
                float left
            &.proximo
                float right
            +mobile()
                &.voltar
                    display none
                fira 18
