.onde-comprar
    padding 30px 0
    .center
        max-width 970px
    .texto
        margin 0 0 30px
        h1
            fira 30 bold
            color #333132
            margin 0 0 .35em
            +mobile()
                font-size 22px
        p
            fira 15 light
            line-height 1.5
            margin .8em 0
            &:last-child
                margin-bottom 0
            &:first-child
                margin-top 0
    .imagem
        height 175px
        background-size cover
        background-position center
        +mobile()
            height 100px
        .center
            height 100%
            position relative
        span
            display inline-block
            position absolute
            fira 26 bold
            color #fff
            background #333132
            padding 16px 16px 12px
            bottom 20px
            left 0
            &:after
                content ''
                position absolute
                width 20px
                height 100%
                background #333132
                right -10px
                top 0
                transform skewX(-20deg)
            +mobile()
                font-size 16px
                padding 12px 12px 8px
    .ecommerces
        padding 35px 0 45px
        +mobile()
            padding 25px 0 30px
        .center
            clearfix()
        a
            display block
            width calc('25% - 7.5px')
            float left
            border 1px solid #333132
            padding 15px
            margin-right 10px
            margin-bottom 10px
            position relative
            overflow hidden
            &:nth-child(4n)
                margin-right 0
            +mobile()
                width calc('50% - 5px')
                &:nth-child(2n)
                    margin-right 0
            &:hover
                outline 2px solid $laranja
                border-color $laranja
                span
                    transform translateY(0)
            img
                width 100%
                display block
            span
                position absolute
                bottom 0
                left 0
                width 100%
                display block
                color #fff
                padding 14px 0
                fira 16 bold
                padding-left 60px
                transform translateY(100%)
                background $img('onde-comprar-seta.png') no-repeat 16px center #333132
                transition transform .3s

.distribuidores
    padding 30px 0 40px
    .center
        clearfix()
    .distribuidores-lista
        width calc('100% - 450px')
        float left
        padding-right 50px
        +below($tablet)
            width 100%
            padding-right 0
            padding-top 25px
            border-top 1px solid #ccc
            margin-top 20px
        .nenhum
            border 1px solid #ccc
            padding 20px 20px 16px
            background #eee
            border-radius 3px
            fira 15 light
            text-align center
            color #333132
            margin-left 100px
            +mobile()
                margin-left 0
        h2
            fira 18 bold
            color #333132
            margin 0 0 25px
            padding-left 100px
            +mobile()
                padding-left 0
        .distribuidor
            clearfix()
            margin-bottom 20px
            + .distribuidor
                padding-top 20px
                border-top 1px solid #ccc
            img
                width 90px
                float left
                display block
            p
                width calc('100% - 100px')
                float right
                fira 15 light
                strong
                    fira 15 bold
                margin 0
                span
                    display block
            +mobile()
                margin-bottom 30px
                p
                    width 100%
                    margin-top 15px
    select
        display none
        +mobile()
            display block
            width 100%
            fira 15 light
    .mapa-wrapper
        width 450px
        position relative
        float right
        +below($tablet)
            float left
            width 100%
            max-width 450px
        +mobile()
            display none
        p
            fira 15 light
            color #333132
            margin-bottom 0
        .mapa
            width 450px
            height 465px
            background $img('mapa.png') no-repeat center #EFEFEF
            background-size 100% auto
            position relative
            a
                display block
                position absolute
                text-indent -9999px
                opacity 0
                transition opacity .3s
                &:hover
                &.active
                    opacity 1
                &.AC
                    background $img('mapa-ac.png') no-repeat center
                    width 75px
                    height 41px
                    top 159px
                    left 14px
                    z-index 2
                &.AL
                    background $img('mapa-al.png') no-repeat center
                    width 30px
                    height 17px
                    top 176px
                    left 400px
                &.AP
                    background $img('mapa-ap.png') no-repeat center
                    width 53px
                    height 58px
                    top 34px
                    left 221px
                    z-index 2
                &.AM
                    background $img('mapa-am.png') no-repeat center
                    width 191px
                    height 129px
                    top 57px
                    left 16px
                &.BA
                    background $img('mapa-ba.png') no-repeat center
                    width 98px
                    height 103px
                    top 175px
                    left 309px
                &.CE
                    background $img('mapa-ce.png') no-repeat center
                    width 42px
                    height 53px
                    top 112px
                    left 366px
                &.DF
                    background $img('mapa-df.png') no-repeat center
                    width 9px
                    height 5px
                    top 248px
                    left 291px
                    z-index 3
                &.ES
                    background $img('mapa-es.png') no-repeat center
                    width 22px
                    height 34px
                    top 275px
                    left 361px
                    z-index 2
                &.GO
                    background $img('mapa-go.png') no-repeat center
                    width 77px
                    height 75px
                    top 215px
                    left 238px
                    z-index 2
                &.MA
                    background $img('mapa-ma.png') no-repeat center
                    width 71px
                    height 97px
                    top 94px
                    left 289px
                    z-index 2
                &.MT
                    background $img('mapa-mt.png') no-repeat center
                    width 123px
                    height 114px
                    top 161px
                    left 147px
                &.MS
                    background $img('mapa-ms.png') no-repeat center
                    width 77px
                    height 74px
                    top 266px
                    left 184px
                &.MG
                    background $img('mapa-mg.png') no-repeat center
                    width 119px
                    height 93px
                    top 235px
                    left 261px
                &.PA
                    background $img('mapa-pa.png') no-repeat center
                    width 137px
                    height 134px
                    top 53px
                    left 176px
                &.PB
                    background $img('mapa-pb.png') no-repeat center
                    width 41px
                    height 22px
                    top 148px
                    left 393px
                    z-index 2
                &.PR
                    background $img('mapa-pr.png') no-repeat center
                    width 69px
                    height 43px
                    top 325px
                    left 223px
                    z-index 2
                &.PE
                    background $img('mapa-pe.png') no-repeat center
                    width 68px
                    height 21px
                    top 161px
                    left 367px
                &.PI
                    background $img('mapa-pi.png') no-repeat center
                    width 58px
                    height 84px
                    top 113px
                    left 317px
                    z-index 3
                &.RJ
                    background $img('mapa-rj.png') no-repeat center
                    width 40px
                    height 23px
                    top 306px
                    left 329px
                    z-index 2
                &.RN
                    background $img('mapa-rn.png') no-repeat center
                    width 36px
                    height 22px
                    top 134px
                    left 397px
                &.RS
                    background $img('mapa-rs.png') no-repeat center
                    width 83px
                    height 71px
                    top 374px
                    left 191px
                &.RO
                    background $img('mapa-ro.png') no-repeat center
                    width 74px
                    height 59px
                    top 167px
                    left 90px
                &.RR
                    background $img('mapa-rr.png') no-repeat center
                    width 62px
                    height 74px
                    top 21px
                    left 114px
                &.SC
                    background $img('mapa-sc.png') no-repeat center
                    width 55px
                    height 35px
                    top 361px
                    left 232px
                &.SP
                    background $img('mapa-sp.png') no-repeat center
                    width 93px
                    height 58px
                    top 295px
                    left 240px
                &.SE
                    background $img('mapa-se.png') no-repeat center
                    width 16px
                    height 21px
                    top 184px
                    left 401px
                &.TO
                    background $img('mapa-to.png') no-repeat center
                    width 50px
                    height 87px
                    top 138px
                    left 266px
