.produtos-banner-categoria
    display block
    width 100%
    height 260px
    background-size cover !important
    transition background .3s
    &:last-child
        border-bottom 1px solid #fff
    +mobile()
        height 200px
    background-color #333132
    .center
        position relative
        height 100%
    .titulo-wrapper
        position absolute
        width 100%
        height 100%
        top 0
        left 0
        display table
        > div
            display table-cell
            vertical-align middle
            span
                display block
                max-width 240px
                color #fff
                avenir 28 light
                text-align center
                text-transform uppercase
                +mobile()
                    transform scale(.7,.7)
                    transform-origin left center
                strong
                    display block
                    background #fff
                    color #333132
                    avenir 28 bold
                    margin-bottom 10px
                    padding 9px 0 4px
                    position relative
                    &:after
                        content ''
                        position absolute
                        width 20px
                        height 100%
                        background #fff
                        right -10px
                        top 0
                        transform skewX(-20deg)
.produtos-index
    padding 30px 0
    .center
        max-width 970px
    .nenhum
        border 1px solid #ccc
        padding 20px 20px 16px
        background #eee
        border-radius 3px
        fira 15 light
        text-align center
        color #333132
        margin 30px 0
    .linha-div
        display block
        fira 24 bold
        color #fff
        position relative
        background #333132
        padding 10px 12px 6px
        margin 0 0 20px
        +mobile()
            font-size 20px
        &:after
            content ''
            position absolute
            width 20px
            height 100%
            background #333132
            right -10px
            top 0
            transform skewX(-20deg)
            z-index -1
    .thumbs
        display flex
        flex-wrap wrap
        + .linha-div
            margin-top 40px
        a
            display block
            width calc('33.333% - 10px')
            padding 10px 10px 25px
            border 3px solid transparent
            transition border .3s
            margin-right 15px
            margin-bottom 45px
            position relative
            +mobile()
                width 100%
                margin-right 0
                margin-bottom 15px
            +tablet()
                margin-bottom 15px
            +below($tablet)
                border 2px solid rgba($laranja, .7)
            &:nth-child(3n)
                margin-right 0
            &:hover
                border-color $laranja
                .saiba
                    opacity 1
                    transform translateY(0px)
            img
                width 100%
                display block
            .subtitulo
                display block
                margin-top 10px
                border-top 1px solid rgba($laranja, .7)
                fira 14 light
                color #8C8C8C
                padding 15px 10px 0
                +mobile()
                    font-size 12px
            .titulo
                display block
                margin 10px 0 0
                fira 30 bold
                font-style italic
                color #333132
                padding 0 10px
                +tablet()
                    font-size 26px
                +mobile()
                    font-size 20px
            .saiba
                position absolute
                display inline-block
                fira 11 light
                color #fff
                background #333132
                padding 8px 12px 6px
                left -3px
                bottom -15px
                text-transform uppercase
                opacity 0
                transform translateY(20px)
                transition opacity .3s, transform .3s
                +below($tablet)
                    display none
                &:after
                    content ''
                    position absolute
                    width 15px
                    height 100%
                    background #333132
                    right -7px
                    top 0
                    transform skewX(-20deg)

.produtos-show
    padding 25px 0 50px
    .center
        max-width 970px
        clearfix()
    .left
        width 46%
        float left
        margin-bottom 20px
        +mobile()
            width 100%
        .imagens
            border-bottom 1px solid #ccc
            padding-bottom 10px
            .imagens-cycle-wrapper
                position relative
                margin-bottom 8px
            .imagens-cycle
                img
                    display block
                    width 100%
            &.imagens-acessorios
                border-bottom 0
                padding-bottom 25px
            #prev
            #next
                display block
                position absolute
                width 63px
                height 46px
                top 50%
                margin-top -23px
                background $img('produtos-seta.png') no-repeat center
                z-index 9999
                cursor pointer
                +mobile()
                    transform scale(.5)
            #prev
                left -30px
                transform rotate(180deg)
                +mobile()
                    transform rotate(180deg) scale(.5)
            #next
                right -30px
            .imagens-carousel
                width 100%
                +mobile()
                    display none
                .cycle-slide
                    padding-right 6px
                    position relative
                    max-width 84px
                    cursor pointer
                    &.cycle-slide-active .container .fx
                        box-shadow inset 0px 0px 0px 3px $laranja
                    .container
                        position relative
                        .fx
                            position absolute
                            top 0
                            left 0
                            width 100%
                            height 100%
                    img
                        cursor pointer
                        width 100%
                        display block
        .certificacoes
            padding 10px 0
            border-bottom 1px solid #ccc
            img
                display block
                max-width 100%
    .right
        width 46%
        float right
        margin-bottom 20px
        +mobile()
            width 100%
        h3
            fira 14 light
            color #8C8C8C
            margin 0 0 10px
        img
            max-width 100%
        a
            color $laranja
            text-decoration underline
        h1
            fira 44 bold
            font-style italic
            color #333132
            margin 0 0 20px
            +tablet()
                font-size 36px
            +mobile()
                font-size 28px
        p
            fira 15
            color #333132
            margin 0
        .recursos
            margin 35px 0
            h2
                display inline-block
                fira 20 bold
                color #fff
                position relative
                background #333132
                padding 8px 12px 4px
                margin 0 0 15px
                +mobile()
                    font-size 15px
                &:after
                    content ''
                    position absolute
                    width 20px
                    height 100%
                    background #333132
                    right -10px
                    top 0
                    transform skewX(-20deg)
            div
                font-size 0
                img
                    display inline-block
                    vertical-align top
                    margin 0 10px 10px 0
        .tabela
            margin 35px 0 0
            table
                width 100% !important
                avenir 12
                th
                td
                    padding 5px
                    text-align center
    .acessorios
        margin-top 30px
        .tipo
            border-top 1px solid $laranja
            margin-bottom 45px
            position relative
            font-size 0
            padding 5px 0
            h2
                position absolute
                top -20px
                left 0
                > span
                    display inline-block
                    padding 8px 12px 4px
                    border 2px solid #333132
                    &:first-child
                        background #333132
                        fira 20 bold
                        color #fff
                        padding-right 40px
                        +mobile()
                            padding-right 30px
                            font-size 15px
                    &:last-child
                        background #fff
                        color #333132
                        fira 20
                        transform skew(-20deg)
                        z-index 2
                        margin-left -20px
                        +mobile()
                            font-size 15px
                        span
                            display inline-block
                            transform skew(20deg)
                        strong
                            fira 20 bold
                            +mobile()
                                font-size 15px
            .desktop
                +below($mobile)
                    display none
            .mobile
                display none
                +below($mobile)
                    display block
            .row
                border-bottom 1px solid $laranja
            .acessorio
                display inline-block
                vertical-align top
                width 33.333%
                margin 5px 0
                border-right 1px solid #ddd
                padding 10px 0
                +above($mobile)
                    &:nth-child(3n)
                        border-right 0
                +mobile()
                    width 50%
                    &:nth-child(2n)
                        border-right 0
                img
                    width 100%
                    display block
                span
                    fira 15 light
                    text-align center
                    display block
                    margin-top 10px
                    color #333132
    .destaques
        background #8D8D8E
        padding 20px 0
        .center
            position relative
        h2
            display inline-block
            position absolute
            fira 20 bold
            color #fff
            background #333132
            padding 8px 12px 4px
            top -38px
            margin 0
            left 0
            +mobile()
                font-size 15px
                top -34px
            &:after
                content ''
                position absolute
                width 20px
                height 100%
                background #333132
                right -10px
                top 0
                transform skewX(-20deg)
        .lista
            .row
                display flex
                flex-wrap wrap
                border-bottom 1px solid rgba(#fff, .3)
                &:last-child
                    border-bottom 0
                    > div:last-child
                        padding-bottom 0
                        border-bottom 0
                +mobile()
                    border none
                > div
                    width 50%
                    padding 30px
                    border-right 1px solid rgba(#fff, .3)
                    +mobile()
                        width 100%
                        border-right 0
                        border-bottom 1px solid rgba(#fff, .3)
                        padding 20px
                    &:nth-child(2n)
                        border-right 0
                    clearfix()
                    img
                        display block
                        float left
                    .texto
                        width calc('100% - 125px')
                        float right
                        h3
                            fira 17 bold
                            margin 0 0 12px
                            color #fff
                            +mobile()
                                font-size 15px
                        p
                            fira 15 light
                            color #fff
                            margin 0
                            +mobile()
                                font-size 14px
    .texto
        padding 30px 0 0
        p
            fira 15
            color #333132
            &:first-child
                margin-top 0
            &:last-child
                margin-bottom 0
    .especificacoes
        padding 30px 0 0
        h2
            display inline-block
            fira 20 bold
            color #fff
            background #333132
            padding 8px 12px 4px
            margin 0 0 20px
            left 0
            position relative
            +mobile()
                font-size 15px
            &:after
                content ''
                position absolute
                width 20px
                height 100%
                background #333132
                right -10px
                top 0
                transform skewX(-20deg)
        .tabs-nav
            font-size 0
            a
                border 1px solid #ccc
                display inline-block
                transition background .3s
                + a
                    border-left none
                +mobile()
                    display block
                    margin-top -1px
                    + a
                        border-left 1px solid #ccc
                span
                    display block
                    padding 10px 8px 6px
                    fira 16
                    color #333132
                    +mobile()
                        font-size 15px
                &.active
                    span
                        fira 16 bold
                    background #DCDDDE
        .tabs-conteudo
            > div
                display none
                margin-top -1px
                &.active
                    display block
            #especificacoes-tecnicas
                margin-top 0
                table
                    width 100% !important
                    border 0
                    border-collapse collapse
                    th
                    td
                        width 50%
                thead
                    background $laranja
                    th
                        fira 17 semi
                        color #fff
                        text-align center
                        padding 10px 0
                        &:first-child
                            border-right 1px solid #fff
                        &:last-child
                            border-right 1px solid $laranja
                        +mobile()
                            font-size 15px
                tr
                    td
                        border 1px solid #ccc
                        +mobile()
                            font-size 14px !important
                    td:first-child
                        background #F1F2F2
                        fira 15
                        color #414042
                        padding 10px 20px
                    td:last-child
                        text-align center
                        fira 15 light
                        color #333132
                        padding 10px
            #downloads
                border 1px solid #ccc
                padding 40px
                +mobile()
                    padding 20px
                div
                    min-height 28px
                    padding-top 4px
                    padding-left 45px
                    background $img('produtos-download.png') no-repeat center left
                    + div
                        margin-top 15px
                    p
                        margin 0
                        fira 16
                        color #333132
                        strong
                            fira 16 bold
                        a
                            fira 16 semi
                            font-style italic
                            color #27948B
                            text-decoration underline
                            &:hover
                                text-decoration none
                        +mobile()
                            font-size 15px
                            strong
                            a
                                font-size 15px
            #fotos-videos
                border 1px solid #ccc
                padding 40px 40px 20px
                +mobile()
                    padding 20px 20px 0
                clearfix()
                a
                    display block
                    width calc('33.333% - 13.333px')
                    float left
                    margin-right 20px
                    margin-bottom 20px
                    position relative
                    .video-icone
                        display block
                        position absolute
                        top 50%
                        left 50%
                        width 50px
                        height 50px
                        background #fff
                        border-radius 100%
                        transform translateX(-50%) translateY(-50%)
                        &:after
                            content ''
                            position absolute
                            top 50%
                            left 50%
                            transform translateX(-33%) translateY(-50%)
                            width 0
                            height 0
                            border-style solid
                            border-width 11.5px 0 11.5px 18px
                            border-color transparent transparent transparent #8D8D8E
                    &:nth-child(3n)
                        margin-right 0
                    +mobile()
                        width calc('50% - 10px')
                        &:nth-child(3n)
                            margin-right 20px
                        &:nth-child(2n)
                            margin-right 0
                    img
                        display block
                        width 100%

.produtos-acessorios-index
    .acessorios-row
        text-align right
        margin-bottom 40px
        .linha-div
            margin-bottom 0
            text-align left
            &:after
                right -8px
        .acessorios-produtos
            border 1px solid #333132
            display flex
            flex-wrap wrap
            > div
                padding 10px 10px 15px
                width 33.333%
                border-right 1px solid #333132
                &:nth-child(3n)
                    border none
                +mobile()
                    width 100%
                    border-bottom 1px solid #333132
                    border-right none
                    &:last-child
                        border-bottom none
                img
                    width 100%
                    display block
                span
                    display block
                    padding 15px 10px 0
                    text-align center
                    margin-top 15px
                    border-top 1px solid $laranja
                    fira 30 bold
                    font-style italic
                    color #333132
                    +tablet()
                        font-size 26px
                    +mobile()
                        font-size 20px
        a
            display inline-block
            background $laranja
            fira 16
            color #fff
            padding 8px 32px 8px 16px
            margin-top 15px
            transition background .3s
            position relative
            &:hover
                background #333132
            &:after
                content ''
                position absolute
                right 10px
                top 50%
                width 0
                height 0
                margin-top -4px
                border-style solid
                border-width 4px 0 4px 8px
                border-color transparent transparent transparent #fff

.produtos-acessorios-show
    padding 30px 0
    .center
        max-width 970px
        > img
            width 100%
            display block
    h1
        border-top 1px solid #333132
        border-bottom 1px solid #333132
        fira 32 bold
        font-style italic
        padding 10px 0
        margin 15px 0 25px
        text-align center
        color #333132
    .texto
        padding-bottom 25px
        border-bottom 1px solid #333132
        p
            fira 15 light
            color #333132
            &:first-child
                margin-top 0
            &:last-child
                margin-bottom 0
    table
        margin-top 25px
        width 100%
        border-collapse collapse
        th
        td
            border 1px solid #ccc
            text-align center
            vertical-align middle
            padding 5px
        th
            background $laranja
            color #fff
            fira 16 bold
        td
            fira 15 light
            img
                width 150px
                display block
            &:nth-child(1)
                width 160px
            &:nth-child(2)
                font-weight bold
        +mobile()
            th
                display none
            td
                border none
                display block
                text-align left
                &:first-child
                    padding-top 15px
                &:last-child
                    padding-bottom 15px
            tr
                border-bottom 1px solid #ccc
