.suporte
    padding 25px 0 70px
    +mobile()
        padding 20px 0 35px
    .center
        max-width 970px
    a
        clearfix()
        display block
        position relative
        border 1px solid #ccc
        transition border .3s
        &:hover
            border-color $laranja
            .texto span
                background $laranja
                &:after
                    background $laranja
        .texto
            width 350px
            float left
            padding 22px
            h3
                fira 38 bold
                color #333132
                margin 0 0 20px
            p
                fira 15 light
                margin 0 0 15px
            span
                display inline-block
                fira 24 bold
                color #fff
                position relative
                background #333132
                transition background .3s
                padding 10px 12px 6px
                margin 0 0 8px
                &:after
                    content ''
                    position absolute
                    width 20px
                    height 100%
                    background #333132
                    transition background .3s
                    right -10px
                    top 0
                    transform skewX(-20deg)
            +mobile()
                width 100%
                float none
                h3
                    font-size 26px
                span
                    font-size 18px
        .imagem
            width calc('100% - 350px')
            height 100%
            position absolute
            top 0
            right 0
            background-position center
            background-size cover
            +mobile()
                width 100%
                height 120px
                position relative
    .divider
        border-top 1px solid #BEBEBE
        margin 20px 0

.garantia-de-produtos
    padding 25px 0 50px
    +mobile()
        padding 25px 0
    .center
        max-width 970px
        clearfix()
    .texto
        width 53%
        float left
        h1
            fira 38 bold
            color #333132
            margin 0 0 15px
        p
            fira 15 light
        a
            display inline-block
            fira 24 bold
            color #fff
            position relative
            background #333132
            padding 10px 12px 6px
            margin 0 0 8px
            transition background .3s
            &:hover
                background $laranja
                &:after
                    background $laranja
            &:after
                content ''
                position absolute
                width 20px
                height 100%
                background #333132
                transition background .3s
                right -10px
                top 0
                transform skewX(-20deg)
        + img
            width 44%
            float right
            display block
        +mobile()
            width 100%
            h1
                font-size 28px
            a
                font-size 20px
            + img
                width 100%
                margin-top 20px
    .assistencia
    .solicitacao
        clear both
        width 100%
        float left
        margin 25px 0
        padding 25px 0
        border-top 1px solid #ccc
        border-bottom 1px solid #ccc
        h2
            fira 38 bold
            margin 0 0 10px
            color #333132
        p
            fira 16 light
            margin 0
        +mobile()
            margin 20px 0
            padding 20px 0
            h2
                font-size 24px
            p
                font-size 15px
    .contatos
        width 100%
        float left
        .telefone
        .whatsapp
            width 734px
            height 157px
            position relative
            margin-bottom 40px
            background $img('garantia-telefone.png') no-repeat center left
            span
                position absolute
                color #fff
                left 250px
                &:first-child
                    fira 30 light
                    top 18px
                &:last-child
                    fira 47 medium
                    top 72px
        .whatsapp
            background $img('garantia-whatsapp.png') no-repeat center left
        .email
            width 712px
            height 157px
            margin-left auto
            position relative
            margin-bottom 40px
            background $img('garantia-email.png') no-repeat center right
            span
                position absolute
                color #fff
                &:first-child
                    fira 30 light
                    top 18px
                    left 337px
                &:last-child
                    fira 32 medium
                    top 83px
                    left 55px
        +above($mobile)
            > div
                transform scale(.8,.8)
                &.telefone
                &.email
                &.whatsapp
                    margin-bottom 15px
        +mobile()
            .telefone
            .email
            .whatsapp
                width 100%
                height auto
                margin-bottom 15px
                background none
                text-align left
                span
                    position relative
                    left 0
                    color #333132
                    display block
                    &:first-child
                        fira 20 bold
                        top 0
                        left 0
                    &:last-child
                        fira 18
                        top 0
                        left 0
                        margin-top 5px
    .solicitacao-enviada
        float left
        fira 20 bold
        color $laranja
        text-align center
        margin 1em 0
    form
        float left
        width 100%
        max-width 750px
        .erros
            border 1px solid #E62E29
            border-radius 4px
            padding 15px 15px 11px
            text-align left
            fira 14
            color #E62E29
            margin-bottom 20px
        .row
            clearfix()
            width 100%
            margin-bottom 12px
            label
                width 215px
                float left
                text-align right
                padding-right 20px
                fira 18
                color #333132
                padding-top 11px
                +mobile()
                    width 100%
                    text-align left
                    padding 0
                    font-size 15px
            input
            textarea
            select
            .anexo-wrapper
                width calc('100% - 215px')
                float left
                +mobile()
                    width 100%
            input[type=text]
            input[type=email]
            textarea
            select
                display block
                border 1px solid #ccc
                outline 0
                border-radius 4px
                margin-top 5px
                resize none
                fira 15
                min-height 32px
                padding 0 5px
            select
                height 32px
            textarea
                padding 10px 5px
            .anexo-wrapper
                border 1px solid #ccc
                border-radius 4px
                padding 20px
                text-align center
                input
                    fira 15
                    outline 0
                    line-height 1.5
                    +mobile()
                        font-size 12px
        .submit-wrapper
            width calc('100% - 215px')
            float right
            text-align center
            +mobile()
                width 100%
            input
                display inline-block
                width 190px
                fira 24
                border 0
                outline 0
                color #fff
                background $laranja
                border-radius 4px
                transition background .3s
                padding 10px 12px 6px
                cursor pointer
                margin-top 20px
                &:hover
                    background #333132
.suporte-thumbs-2
    margin-bottom 50px
    .center
        max-width 970px
        display flex
        flex-wrap wrap
    a
        width 50%
        display block
        border 1px solid #ccc
        margin-left -1px
        padding 20px
        &:hover h3
            color $laranja
        img
            width 100%
            display block
        h3
            fira 33 bold
            color #333132
            margin 15px 0 20px
            transition color .3s
        p
            fira 14 light
            margin 0
        +mobile()
            width 100%
            margin-left 0
            margin-top -1px
            h3
                font-size 24px

.garantia-de-produtos-mais
    padding 15px 0 45px
    +mobile()
        padding-bottom 25px
    .center
        max-width 970px
        > img
            display block
            width 100%
    .texto
        h1
            fira 38 bold
            color #333132
            text-align center
            +mobile()
                font-size 24px
        p
            fira 15 light
            color #333132
            img
                max-width 100%

.suporte-thumbs-3
    margin-bottom 50px
    +mobile()
        margin-bottom 30px
    .center
        max-width 970px
        font-size 0
    a
        display inline-block
        vertical-align top
        border 1px solid #ccc
        transition border .3s
        width 33.333%
        +mobile()
            width 100%
            margin-left 0
            margin-top -1px
        &:hover
            span
                color $laranja
        margin-left -1px
        padding 15px
        img
            width 100%
            display block
        span
            fira 22 bold
            color #333132
            display block
            margin-top 15px
            text-align center
            transition color .3s
            +mobile()
                font-size 18px

.manuais
    padding 30px 0 60px
    +mobile()
        padding 25px 0 40px
    .center
        max-width 970px
    h1
        fira 38 bold
        margin 0 0 5px
        color #333132
    p
        fira 16 light
        margin 0
        + .linha-div
            margin-top 40px
    +mobile()
        h1
            font-size 24px
        p
            font-size 15px
            + .linha-div
                margin-top 25px
    .linha-div
        display inline-block
        fira 24 bold
        color #fff
        position relative
        background #333132
        padding 10px 12px 6px
        margin 60px 0 -1px
        z-index 2
        +mobile()
            font-size 20px
            margin-top 40px
        &:after
            content ''
            position absolute
            width 20px
            height 100%
            background #333132
            right -10px
            top 0
            transform skewX(-20deg)
            z-index -1
    .manuais-lista
        .manual
            border-top 1px solid #ccc
            padding 20px 0
            &:last-child
                border-bottom 1px solid #ccc
            h3
                fira 28 bold
                font-style italic
                color #333132
                margin 0 0 5px
                padding-left 40px
                +mobile()
                    font-size 20px
                    padding-left 0
            a
                display block
                min-height 28px
                padding-top 4px
                padding-left 40px
                margin-left 80px
                fira 22
                text-transform uppercase
                font-style italic
                color #27948B
                text-decoration underline
                &:hover
                    text-decoration none
                background $img('produtos-download.png') no-repeat center left
                +mobile()
                    font-size 18px
                    padding-top 5px
                    margin-left 0
            form
                width 100%
                max-width 660px
                margin-left auto
                margin-top 20px
                padding-bottom 10px
                clearfix()
                .erros
                    border 1px solid #E62E29
                    border-radius 4px
                    padding 15px 15px 11px
                    text-align left
                    fira 14
                    color #E62E29
                    margin-bottom 20px
                .row
                    clearfix()
                    width 100%
                    margin-bottom 12px
                    label
                        width 185px
                        float left
                        text-align right
                        padding-right 20px
                        fira 18
                        color #333132
                        padding-top 11px
                        +mobile()
                            width 100%
                            text-align left
                            padding 0
                            font-size 15px
                    input
                    textarea
                    select
                    .anexo-wrapper
                        width calc('100% - 185px')
                        float left
                        +mobile()
                            width 100%
                    input[type=text]
                    input[type=email]
                    textarea
                    select
                        display block
                        border 1px solid #ccc
                        outline 0
                        border-radius 4px
                        margin-top 5px
                        resize none
                        fira 15
                        min-height 32px
                        padding 0 5px
                    select
                        height 32px
                    textarea
                        padding 10px 5px
                    .anexo-wrapper
                        border 1px solid #ccc
                        border-radius 4px
                        padding 20px
                        text-align center
                        input
                            fira 15
                            outline 0
                            line-height 1.5
                            +mobile()
                                font-size 12px
                .submit-wrapper
                    width calc('100% - 185px')
                    float right
                    text-align center
                    +mobile()
                        width 100%
                    input
                        display inline-block
                        width 135px
                        fira 17
                        text-transform uppercase
                        border 0
                        outline 0
                        color #fff
                        background $laranja
                        border-radius 4px
                        transition background .3s
                        padding 10px 12px 6px
                        cursor pointer
                        &:hover
                            background #333132

.orientacoes
    padding 30px 0 60px
    +mobile()
        padding 25px 0 40px
    .center
        max-width 970px
        clearfix()
    h1
        fira 38 bold
        margin 0 0 5px
        color #333132
    p
        fira 16 light
        margin 0 0 25px
        + .linha-div
            margin-top 40px
        &.contato
            margin 50px 0 0
            padding 0
            float left
            width 100%
            fira 22
            a
                fira 22 bold
                text-decoration underline
                &:hover
                    color $laranja
            +mobile()
                font-size 16px
                margin-top 25px
                a
                    font-size 16px
                    display block
    +mobile()
        h1
            font-size 24px
        p
            font-size 15px
            + .linha-div
                margin-top 25px
    .contato-enviado
        fira 20 bold
        color $laranja
        margin 1em 0
    .linhas
        width 40%
        float left
        +mobile()
            width 100%
        border-right 1px solid #D0D2D3
        +mobile()
            border none
        a
            display block
            border-left 1px solid #D0D2D3
            border-bottom 1px solid #D0D2D3
            padding 13px 16px
            fira 20
            &.active
                background #D0D2D3
            +mobile()
                border-right 1px solid #D0D2D3
                padding 8px
                fira 17
    .maquinas
        width 60%
        float right
        +mobile()
            width 100%
        .maquinas-lista
            background #D0D2D3
            padding 0 15px
            a
                padding 15px 0
                display block
                fira 18 medium
                padding-left 32px
                position relative
                +mobile()
                    font-size 16px
                    padding-left 20px
                &:before
                    content ''
                    position absolute
                    top 20px
                    left 10px
                    width 0
                    height 0
                    border-style solid
                    border-width 4px 0 4px 8px
                    border-color transparent transparent transparent $laranja
                    transition transform .3s
                    +mobile()
                        left 0
                &.active:before
                    transform rotate(90deg)
            form + a
                border-top 1px solid rgba(#fff, .3)
            form
                padding-left 32px
                padding-top 10px
                padding-bottom 20px
                padding-right 20px
                +mobile()
                    padding-left 0
                    padding-right 0
                    padding-top 0
                .erros
                    border 1px solid #E62E29
                    border-radius 4px
                    padding 15px 15px 11px
                    text-align left
                    fira 14
                    color #E62E29
                    margin-bottom 20px
                .row
                    margin-bottom 10px
                    clearfix()
                    .col
                        width calc('50% - 10px')
                        &:first-child
                            float left
                        &:last-child
                            float right
                        +mobile()
                            width 100%
                            &:last-child
                                margin-top 10px
                    label
                        fira 13
                        color #333132
                        margin-bottom 5px
                    input
                    textarea
                        width 100%
                    input[type=text]
                    input[type=email]
                    textarea
                        display block
                        border 1px solid #ccc
                        outline 0
                        border-radius 4px
                        margin-top 5px
                        resize none
                        fira 15
                        min-height 32px
                        padding 0 5px
                    input[type=file]
                        fira 15
                    textarea
                        padding 10px 5px
                        height 100px
                input[type=submit]
                    display inline-block
                    width 135px
                    fira 17
                    border 0
                    outline 0
                    color #fff
                    background $laranja
                    border-radius 4px
                    transition background .3s
                    padding 8px 12px 6px
                    cursor pointer
                    &:hover
                        background #333132
    .linhas
    .maquinas
        h2
            fira 22 medium
            color #fff
            background #434244
            text-align center
            margin 0
            padding 6px 0
            +mobile()
                fira 17
