.tutoriais-index
    padding 30px 0
    .center
        clearfix()
    .categorias
        width 170px
        float left
        border-top 1px solid #ccc
        border-bottom 1px solid #ccc
        padding 20px 0
        h4
            fira 12 semi
            margin 0 0 10px
        a
            display block
            fira 12 light
            margin 0 0 4px
            &:hover
            &.active
                color $laranja
        +mobile()
            width 100%
            margin-bottom 25px
    .tutoriais-links
        width 970px
        float left
        margin-left 40px
        +mobile()
            width 100%
            margin-left 0
        +tablet()
            width calc('100% - 210px')
            margin-left 0
            float right
        > a
            display block
            border-bottom 1px solid #ccc
            padding-bottom 25px
            margin-bottom 25px
            &:hover .texto
                h2
                    color $laranja
                .acesse
                .acesse:after
                    background $laranja
            clearfix()
            .imagem
                width 28%
                float left
                img
                    width 100%
                    display block
            .texto
                width 68%
                float right
                .data
                    fira 12 light
                    color #aaa
                    display block
                    margin 0 0 10px
                h2
                    fira 30 bold
                    +mobile()
                        font-size 20px
                    color #333132
                    margin 0 0 15px
                    transition color .3s
                p
                    fira 15 light
                    line-height 1.5
                    margin-bottom 0
                .acesse
                    display inline-block
                    fira 24 bold
                    color #fff
                    position relative
                    background #333132
                    padding 10px 12px 6px 18px
                    margin 15px 0 0
                    transition background .3s
                    +mobile()
                        font-size 18px
                        padding 8px 10px 4px 16px
                    +tablet()
                        font-size 20px
                    &:after
                        content ''
                        position absolute
                        width 20px
                        height 100%
                        background #333132
                        transition background .3s
                        right -10px
                        top 0
                        transform skewX(-20deg)
                        z-index -1
            &.tutorial-primeiro
                .imagem
                    width 48%
                    float right
                    +mobile()
                        width 100%
                        margin-bottom 10px
                .texto
                    width 46%
                    float left
                    +mobile()
                        width 100%
                    h2
                        font-size 38px
                        +tablet()
                            font-size 30px
                        +mobile()
                            font-size 24px
        .pagination
            text-align right
            padding 20px 0 0
            list-style none
            li
                display inline-block
                fira 18 light
                font-style italic
                margin 0 6px
                a:hover
                    color $laranja
                &.active
                    fira 18 medium
                &.disabled
                    opacity .3
                &.active
                &.disabled
                    cursor default
                &:first-child
                    margin-right 12px
                &:last-child
                    margin-left 12px

.tutoriais-show
    padding 10px 0 60px
    .center
        max-width 970px
        > img
            display block
            max-width 100%
    .data
        fira 12 light
        color #aaa
        display block
        margin 5px 0 20px
    h2
        fira 38 bold
        color #333132
        margin 0 0 15px
        transition color .3s
        +tablet()
            font-size 30px
        +mobile()
            font-size 24px
    p
        fira 15 light
        line-height 1.5
        margin-bottom 0
        img
            max-width 100%
        &.chamada
            fira 15 medium
            margin-bottom 2em
    .tutoriais-show-nav
        margin-top 40px
        padding-top 20px
        text-align center
        border-top 1px solid #ccc
        a
            display inline-block
            fira 24 medium
            &:hover
                color $laranja
            &.voltar
                fira 22
            &.anterior
                float left
            &.proximo
                float right
            +mobile()
                &.voltar
                    display none
                fira 18
